*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    height: 100vh;
}
.animation{
    display: flex;
    text-align: center;
    .text{
        padding-top: 30px;
        width: 250px;
    }
    .photo{
        width: 250px;
        height: 100px;
        overflow: hidden;
    }
    &:hover{
        .text{
            background-color: rgb(124, 124, 124);
        }
        .photo{
            
            img{
                transform: scale(1.5);
                transition: all .3s ease-in-out;
            }
        }
    }

}